/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 400px;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input {
  border: none;
  padding: 6px;
  border-radius: 3px;
  background: rgb(119, 133, 148);
}

button {
  padding: 10px 16px;
  margin: 10px;
  border: none;
  border-radius: 3px;
}

#fahrenheit {
  background: blue;
}

#celsius {
  background: red;
}

h1 {
  font-size: 4rem;
  color: orange;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
