* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  max-width: 722px;
}

header {
  background-image: url('assets/headerBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10px 50px 60px;
}

header img {
  width: 10%;
}

nav > * {
  float: left;
}

header ul {
  padding-top: 6px;
  padding-left: 190px;
  width: 75%;
}

ul {
  list-style: none;
}

header li {
  float: left;
  padding-right: 20px;
}

header a {
  color: #6e6f86;
  font-size: .5rem;
  font-weight: bold;
}

nav i {
  padding-top: 12px;
  padding-right: 20px;
  color: #8b8d99;
  font-size: .7rem;
}

a {
  text-decoration: none;
}

#welcome {
  clear: both;
  width: 50%;
  padding: 50px 0 30px 0;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 2.3rem;
  font-weight: normal;
  padding: 0 40px 12px 0;
}

input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #d5d5d5;
  padding: 6px 14px;
  width: 230px;
  box-shadow: 0px 14px 20px 4px #dae2e4;

}

::placeholder {
  color: #cfcfcf;
  font-size: .6rem;
}

select {
  background: #ff8800;
  color: white;
  font-size: .6rem;
  padding: 10px 8px 7px 8px;
  margin-left: -10px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 14px 20px 4px #dae2e4;
}

form {
  padding-bottom: 16px;
}

#social i {
  color: #ff8800;
  font-size: .6rem;
}

#social span {
  font-size: .6rem;
  padding-right: 20px;
}

#about {
  background-image: url('assets/mainbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 110px 80px 280px;
}

.section-title {
  color: #ff8800;
  font-size: .6rem;
}

h2 {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  font-size: 2rem;
  padding-top: 4px;
  padding-bottom: 16px;
}

#about p {
  font-size: .5rem;
  font-weight: bold;
  line-height: .9rem;
  padding-bottom: 12px;
  color: #85859a;
}

#about p + p {
  padding-bottom: 18px;
}

#about a {
  background-color: #ff8800;
  color: white;
  font-size: .5rem;
  padding: 9px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#about i {
  background-color: #ffaa4d;
  font-size: .4rem;
  color: white;
  padding: 11px 8px 10px 9px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -4px;
}

#order {
  background-color: #f2f6f7;
  text-align: center;
  padding: 30px 0;
}

#order a {
  color: #74758d;
  font-size: .6rem;
  font-weight: bold;
}

#order #menu {
  width: 50%;
  margin: 0 auto;
}

#order #menu li {
  float: left;
  width: 20%;
  padding: 0 6px 6px 6px;
  border-bottom: 1px solid #d0d3d3;
}

#order #menu li:first-child {
  border-bottom: 1px solid #ff8800;
}

#order #menu li:first-child a {
  color: #ff8800;
}

#top, #bottom {
  clear: both;
  padding: 30px 0 30px 50px;
  /* margin: 0 auto; */
}

#top > *, #bottom > * {
  float: left;
  width: 20%;
  margin: 0 10px;
}

#bg {
  clear: both;
  background: rgba(0, 0, 0, 0.3) url('assets/contadina.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 150px;
  text-align: center;
  padding: 30px 20px 0 20px;
}

#bg ul {
  text-align: center;
}

#bg li {
  color: #fffcfc;
  padding-bottom: 10px;
}

.num {
  font-family: 'Yeseva One', cursive;
  font-size: 1.1rem;
}

#item {
  font-size: 1.1rem;
}

#bg a {
  background-color: #ff8800;
  color: #fffcfc;
  font-size: .5rem;
  /* margin-top: 10px; */
  padding: 6px 10px;
}

.dots {
  clear: both;
  width: 17%;
  margin: 0 auto;
  padding: 16px 16px 20px 16px;
}

.dot {
  float: left;
  background-color: #ffdbb2;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 10px 4px;
}

.dot:nth-child(3) {
  background-color: #ffaa4d;
  width: 8px;
  height: 8px;
  margin-top: 8px;
}

#hours {
  clear: both;
  background-image: url('assets/book-tables-background.jpg');
  padding: 40px 40px 20px 40px;
  text-align: center;
}

#info li {
  padding: 2px;
}

#info li:first-child {
  margin: 12px 0 8px 0;
}

#info li:nth-child(2) {
  font-size: .6rem;
}

#info i {
  color: #ff8800;
  border: 1px solid #ffaa4d;
  display: inline;
  border-radius: 50%;
  padding: 8px;
  font-size: .8rem;
}

#info .num {
  color: #ff8800;
  font-size: .9rem;
}

#open {
  width: 65%;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0 30px 0;
}

#first, #last {
  float: left;
  width: 50%;
}

#first > *, #last > * {
  display: block;
  padding: 0 0 7px 20px;
}

#last > * {
  padding-left: 55px;
}

.days {
  font-size: .6rem;
}

#open .num {
  font-size: .8rem;
}

#img-div {
  clear: both;
  width: 65%;
  margin: 30px auto;
}

#hours img {
  width: 100%;
}