/* Box Model Hack */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body > * {
  float: left;
}


/******************************************
/* LAYOUT
/*******************************************/
nav {
  width: 10%;
  padding: 20px;
}

main {
  width: 50%;
  padding: 20px;
}

aside {
  width: 40%;
  padding: 20px;
}

ul {
  list-style: none;
}

nav > * {
  padding-bottom: 10px;
}

nav ul {
  padding-top: 40px;
}

li {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

main img {
  width: 100%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
