* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Fjalla One", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header, main {
  background: #66768a;
  color: #f1f1f1
}

header {
  padding: 12px 30px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: .4rem;
  font-weight: bold;
}

a {
  color: #f1f1f1;
}

header > * {
  float: left;
  width: 33.33%;
}

header > nav > ul > li {
  float: left;
  width: 25%;
}

#logo-container {
  text-align: center;
}

img {
  width: 10%;
}

#donate-container {
  text-align: right;
}

#donate-btn {
  color: #66768a;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 3px;
}

main {
  clear: both;
  height: 240px;
  text-align: center;
  padding: 20px 40px;
}

h1 {
  font-weight: normal;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

main p {
  font-size: .7rem;
  padding: 0 17px;
  line-height: 1.1rem;
  margin-bottom: 20px;
}

main a {
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  color: #d2d7db;
  display: block;
  margin-bottom: 30px;
}

main span {
  font-family: 'Open Sans', sans-serif;
  font-size: .4rem;
  font-style: italic;
  font-weight: bold;
  color: #434857;
}

#why {
  height: 220px;
  text-align: center;
  padding: 60px 160px;
}

#why p {
  font-family: 'Open Sans', sans-serif;
  font-size: .6rem;
  font-weight: bold;
  color: #4f555e;
}

.divblock {
  background: #66768a;
  width: 180px;
  height: 100px;
  margin: 0 auto 20px auto;
}

#middle {
  background: #dbdfe2;
  height: 380px;
  padding: 60px;
}

#middle > section {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

h2 {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

h3 {
  font-size: .7rem;
  color: #161f2a;
  margin-bottom: 12px;
}

#middle p {
  font-family: 'Open Sans', sans-serif;
  font-size: .5rem;
  font-weight: bold;
  color: #4f555e;
  margin-bottom: 24px;
}

#middle a {
  color: #161f2a;
  font-size: .6rem;
  font-weight: bold;
  border: 1px solid gray;
  padding: 8px 36px;
}

#volunteer {
  clear: both;
  height: 270px;
  text-align: center;
  padding: 60px 140px;
}

#volunteer p {
  color: #4f555e;
  font-family: 'Open Sans', sans-serif;
  font-size: .6rem;
  font-weight: bold;
  margin-bottom: 24px;
  padding: 0 20px;
}

#volunteer a {
  color: #4f555e;
  font-size: .5rem;
  font-weight: bold;
  padding: 10px 30px;
  border: 1px solid #8792a2;
}

footer {
  background: #161f2a;
  color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  font-size: .5rem;
  font-weight: bold;
  padding: 16px 24px;
  height: 140px;
}

footer > section {
  float: left;
  width: 80%;
  margin-bottom: 4px;
}

footer > section + section {
  width: 20%;
}

footer > section > ul > li {
  float: left;
  padding: 0 20px 10px 0;
}

footer > section > h6 {
  clear: both;
}

footer > section > span {
  display: block;
}

h6 {
  color: #66768a;
  font-size: .5rem;
  font-weight: bold;
}

#mma {
  padding-bottom: 6px;
}

.info {
  font-weight: 400;
}

#bottom {
  clear: both;
  border-top: 1px solid #d2d7db;
}

#bottom > * {
  float: left;
}

#bottom p {
  width: 80%;
  padding-top: 8px;
  font-size: .5rem;
  font-weight: normal;
}

#icon-container {
  float: right;
  text-align: right;
  padding-top: 5px;
}

#icon-container img {
  width: 17%;
}