* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: "Fjalla One", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header, main {
  background: #66768a;
  color: #f1f1f1
}

header {
  padding: 20px;
  height: 70px;
}

a {
  color: #f1f1f1;
}

header > * {
  float: left;
  width: 33.33%;
}

header > nav > ul > li {
  float: left;
  width: 40%;
}

#logo-container {
  text-align: center;
}

img {
  width: 10%;
}

#donate-container {
  text-align: right;
}

#donate-btn {
  color: #66768a;
  background: #f1f1f1;
  padding: 10px 20px;
  border-radius: 5px;
}

main {
  clear: both;
  height: 300px;
  text-align: center;
  padding: 60px;
}

h1 {
  font-weight: normal;
  font-size: 2.6rem;
  margin-bottom: 10px;
}

main p {
  font-size: .8rem;
  padding: 0 12px;
  line-height: 1.4rem;
  margin-bottom: 10px;
}

#why {
  height: 300px;
  text-align: center;
  padding: 80px 140px;
}

.divblock {
  background: #66768a;
  width: 200px;
  height: 100px;
}

#middle {
  background: #dbdfe2;
  height: 500px;
  padding: 80px;
}

#middle > section {
  float: left;
  width: 50%;
  padding: 10px;
}

#middle > section > section > * {
  text-align: center;
}

#volunteer {
  clear: both;
  height: 300px;
}

footer {
  background: #161f2a;
  color: #f1f1f1;
}

h6 {
  color: #f1f1f1;
}