* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f5f9fc;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #304659;
}

header > * {
  float: left;
}

header i {
  width: 40%;
}

header h2 {
  font-size: 1.6rem;
}

header {
  height: 70px;
  padding: 20px;
  border-bottom: 2px solid #dbe3eb;
}

i {
  font-size: 1.6rem;
  padding-top: 5px;
}

ul {
  display: none;
}

header button {
  display: none;
}

h1 {
  font-size: 2.4rem;
  padding-bottom: 30px;
}

p {
  color: #506478;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

main {
  clear: both;
  padding: 40px 16px 30px 16px;
}

span {
  display: block;
  color: #849aac;
  font-weight: bold;
  font-size: .9rem;
  padding-bottom: 20px;
}

form {
  padding-bottom: 20px;
}

form > * {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
}

input {
  padding: 10px 16px;
  background-color: #e0e9f0;
  margin-bottom: 16px;
}

::placeholder {
  color: #9aacbc;
}

main button {
  background-color: #304659;
  color: white;
  font-size: 1.1rem;
}

#photo {
  width: 100%;
  padding-bottom: 40px;
}

#photo img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #304659;
  font-weight: bold;
}

h3 {
  padding-bottom: 6px;
}

#features {
  text-align: center;
  padding: 40px 60px 0 60px;
}

.feature {
  padding-bottom: 60px;
}

.feature p {
  font-size: 1rem;
  line-height: 1.4rem;
  padding-bottom: 14px;
}

.feature img {
  width: 10%;
  padding-bottom: 10px;
}

.round {
  border-radius: 50%;
}

#info {
  background-color: white;
  padding: 40px 16px 40px 16px;
}

#info p {
  color: #9aacbc;
  font-size: .8rem;
  line-height: 1.1rem;
}

h2 {
  padding-bottom: 20px;
  font-size: 2rem;
}

@media screen and (min-width: 715px) {
  #burger {
    display: none;
  }

  ul {
    display: inline;
    list-style: none;
    width: 60%;
  }

  li {
    float: left;
    padding-right: 40px;
  }

  li a {
    color: #758694;
    font-size: .8rem;
  }

  header button {
    display: inline;
    float: right;
    background-color: #304659;
    color: #f5f9fc;
    padding: 8px 20px;
    border: none;
  }

  header > h2 {
    width: 30%;
    font-size: 1.4rem;
  }

  header {
    border: none;
  }

  main {
    padding: 80px 30px 40px 80px;
  }

  span {
    font-size: .7rem;
  }

  #photo {
    padding: 20px 0 80px 0;
    background-color: #f5f9fc;
  }

  #photo img {
    width: 100%;
  }

  main, #photo {
    float: left;
    width: 50%;
  }

  form input {
    display: inline;
    width: 60%;
  }

  form button {
    display: inline;
    width: 30%;
    padding: 10px 20px;
    font-size: .8rem;
  }

  ::placeholder {
    font-size: .7rem;
  }

  main p {
    font-size: .8rem;
    line-height: 1.2rem;
    padding-right: 20px;
  }

  #features {
    clear: both;
    text-align: left;
    padding-left: 80px;
  }

  .feature {
    float: left;
    width: 25%;
    padding-right: 20px;
  }

  .feature img {
    width: 18%;
  }

  .feature p {
    font-size: .7rem;
    line-height: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  #info {
    clear: both;
    padding: 60px 0 40px 80px;
  }

  #info > * {
    width: 50%;
  }

  #info h2 {
    font-size: 2.6rem;
  }

  #info p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}